.ardibukAdvantages {
    padding: 120px 0;

    h2 {
        text-align: center;
        color: #84538F;
        font-size: 36px;

        @media (max-width: 920px) {
            font-size: 20px;
        }
    }

    .item-book {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 920px) {
            overflow: auto;
            white-space: nowrap;
            display: flex;
            flex-wrap: nowrap;
        }

        .item {
            width: 322px;
            opacity: 1;
            border-radius: 12px;
            padding: 40px 10px;
            text-align: center;
            box-shadow: 0px 6px 12px #84538F1A;
            background: #FEFEFE 0% 0% no-repeat padding-box;

            @media (max-width: 920px) {
                padding: 30px 10px;
                margin: 20px 0;
                width: 100%;
            }

            span {
                color: #3B3535;
                font-size: 16px;
                word-wrap: break-word;

                @media (max-width: 920px) {
                    font-size: 14px;
                }

                @media (max-width: 920px) {
                    font-size: 12px;
                }
            }
        }
        .item-book-grid{
            margin:  20px;
            @media (max-width: 920px) {
               margin: 0 10px
            }
        }
    }
}