.ardibuk {
    h2 {
        color: #84538F;
        font-size: 36px;
    }

    p {
        color: #3B3535;
        font-size: 16px;
        margin: 0;
    }

    img {
        width: 100%;
    }

    button {
        width: 213px;
        height: 50px;
        margin-top: 30px;
        border: none;
        color: #fff;
        font-size: 16px;
        border-radius: 25px;
        box-shadow: 0px 6px 16px #84538F4D;
        background: transparent radial-gradient(closest-side at 49% 50%, #84538F 0%, #50145D 100%) 0% 0% no-repeat padding-box;
        &:hover{
            box-shadow: 0px 8px 20px #84538F99;
        }
    }
}