.header {
    background: #aebdd4;
    padding: 15px;

    .header-logo {
        text-align: center;
    }

    .header-links {
        padding: 14px 0 0;
        display: flex;
        justify-content: space-around;

        a {
            color: #84538F;
            text-decoration: none;
        }
    }

    .header-icons {
        padding: 14px 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .play-button{
            width: 27px;
            height: 27px;
            text-align: center;
            background: #84538F;
            border-radius: 50%;
            svg{
              padding: 4px 8px; 
            }
        }
    }
}

