.banner {
    padding: 100px 0 120px 0;

    .main-image {
        width: 100%;
    }

    .coming-soon-text {
        position: relative;

        .text {
            position: absolute;
            top: 25%;
            left: 60%;
            transform: translate(18%, 5%);

            @media (max-width: 576px) {
                display: none;
            }
            p {
                color: #fff;
                font-size: 36px;
            }

            span {
                color: #fff;
                font-size: 16px;
            }
        }
    }
}